In [2]:
import pandas as pd 
import numpy as np

In [5]:
#sheets = ["Y10", "Y11", "Y12", "Y13", "Y14", "Y15", "Y16", "Y17", "Y18"]
sheets = ["Y11", "Y12"]
master_df = pd.DataFrame(columns=['Segment', 'Category', 'Region', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'AVG'])
for sheet in sheets:
    Y_df = pd.read_excel("Industry_42_CIR_practice.xlsx", sheet)
    headers = Y_df.iloc[0]
    intial_columns_df = pd.DataFrame(Y_df.values[1:], columns=headers).iloc[0:52, 0:3]
    intial_columns_df.columns.values[0] = "Segment"
    intial_columns_df.columns.values[1] = "Category"
    intial_columns_df.columns.values[2] = "Region"
    intial_columns_df["Year"] = sheet

    new_df  = pd.DataFrame(Y_df.values[1:], columns=headers)
    df0 = new_df.iloc[0:52, 3:16]
    df1 = new_df.iloc[0:52, 17:30]
    df2 = new_df.iloc[0:52, 31:44]
    df3 = new_df.iloc[0:52, 45:58]

    df0 = pd.concat([intial_columns_df, df0], axis=1)
    df0["Region"] = "NorthA"
    df0["Segment"][0:19] = "INTERNET"
    df0["Segment"][20:42] = "WHOLESALE"
    df0["Segment"][43:51] = "PRIVATELABEL"

    df1 = pd.concat([intial_columns_df, df1], axis=1)
    df1["Region"] = "EP"
    df1["Segment"][0:19] = "INTERNET"
    df1["Segment"][20:42] = "WHOLESALE"
    df1["Segment"][43:51] = "PRIVATELABEL"

    df2 = pd.concat([intial_columns_df, df2], axis=1)
    df2["Region"] = "AP"
    df2["Segment"][0:19] = "INTERNET"
    df2["Segment"][20:42] = "WHOLESALE"
    df2["Segment"][43:51] = "PRIVATELABEL"

    df3 = pd.concat([intial_columns_df, df3], axis=1)
    df3["Region"] = "LA"
    df3["Segment"][0:19] = "INTERNET"
    df3["Segment"][20:42] = "WHOLESALE"
    df3["Segment"][43:51] = "PRIVATELABEL"

    master_df = pd.concat([master_df, df0, df1, df2, df3])

master_df

,Segment,Category,Region,A,B,C,D,E,F,G,H,I,J,K,L,AVG,Year
0,INTERNET,NaN,NorthA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y11
1,INTERNET,NaN,NorthA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y11
2,INTERNET,Retail Price ($ per pair),NorthA,68,81,85,85,0,0,0,0,0,0,0,0,79.75,Y11
3,INTERNET,Search Engine Advert. ($000s),NorthA,2750,0,8000,7500,0,0,0,0,0,0,0,0,4563,Y11
4,INTERNET,Free Shipping,NorthA,1,0,0,0,0,0,0,0,0,0,0,0,0.25,Y11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,PRIVATELABEL,Pairs Sold (000s),LA,428,0,286,306,0,0,0,0,0,0,0,0,1091,Y12
48,PRIVATELABEL,Market Share (%),LA,0.42,0,0.28,0.3,0,0,0,0,0,0,0,0,1020,Y12
49,PRIVATELABEL,,LA,,,,,,,,,,,,,,Y12
50,PRIVATELABEL,,LA,,,,,,,,,,,,,,Y12
51,NaN,,LA,,,,,,,,,,,,,,Y12

In [6]:
master_df = master_df.replace(r'^\s*$', np.nan, regex=True)
master_df = master_df.dropna(axis=0)

In [7]:
master_df

,Segment,Category,Region,A,B,C,D,E,F,G,H,I,J,K,L,AVG,Year
2,INTERNET,Retail Price ($ per pair),NorthA,68.00,81.0,85.00,85.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79.75,Y11
3,INTERNET,Search Engine Advert. ($000s),NorthA,2750.00,0.0,8000.00,7500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4563.00,Y11
4,INTERNET,Free Shipping,NorthA,1.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.25,Y11
6,INTERNET,S/Q Rating (1 to 10 stars),NorthA,5.70,5.3,5.00,4.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.00,Y11
7,INTERNET,Model Availability,NorthA,248.90,102.5,200.00,101.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,163.00,Y11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,PRIVATELABEL,Offer Price (max = $40.00),LA,48.00,0.0,40.00,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58.63,Y12
44,PRIVATELABEL,S/Q Rating (min = 3.0 stars),LA,4.50,0.0,3.70,3.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.70,Y12
46,PRIVATELABEL,Pairs Offered (000s),LA,499.00,0.0,286.00,306.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1020.00,Y12
47,PRIVATELABEL,Pairs Sold (000s),LA,428.00,0.0,286.00,306.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1091.00,Y12
48,PRIVATELABEL,Market Share (%),LA,0.42,0.0,0.28,0.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1020.00,Y12

In [9]:
master_df.to_excel("processed_practice_CIR.xlsx")